.App {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-card {
  width: 30%;
  height: 30%;
  margin: 15%;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}